.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../img/image-header-large.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include respond(phone) {
    grid-template-columns: 1fr;
  }
  transition: all 0.2s ease;
}
.testimonials {
  background-color: $color-grey-light-1;
  padding: 5rem 0;
  transition: all 0.2s ease;
}
.previews {
  padding-top: 5rem;
  background-color: $color-grey-light-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transition: all 0.2s ease;
  @include respond(phone) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.footer {
  background-color: $color-tertiary-light;
  padding: 7rem 0 3rem 0;
  text-align: center;
  transition: all 0.2s ease;
}
